# Functions - def function()
  
## 0. Background and Overview

Functions are a way to maintain the principle of DRY - "Don't Repeat Yourself".  Less repetiton leads to less mistakes in code.   

### For this we will cover:

### 1. Function Use Case

### 2. Built-in Function
    
### 3. User-defined Function Basics
e.g., pass, arguments, return

### 4. User-defined Function Advanced
e.g., *args, **kwargs

## 1. Function Use Case

#### Let's say I have a notebook where I routinely have to evaluate if a list contains even numbers.

In [8]:
dwight_sales = [100, 120, 135, 110, 111]

# The following code checks if number is even
for num in dwight_sales:
    # Don't worry about code, just focus on general idea
    if num % 2 != 0:
        # If there is a single odd number, loop ends
        print("List of sales is NOT all even numbers")
        break   
    elif num % 2 == 0 and dwight_sales[-1] == num:
        # elif all even numbers and  this is  the last number
        print("List is even numbers") 
    else:
        continue

List of sales is NOT all even numbers

In [11]:
jim_sales = [200, 204, 180, 300, 220, 182]

for num in jim_sales:       #To reuse change list variable
    if num % 2 != 0:
        print("List of sales is NOT all even numbers")
        break
    elif num % 2 == 0 and jim_sales[-1] == num: #Also change this here
        print("List is even numbers")
    else:
        continue

List is even numbers

In [12]:
kevin_sales = [4, 8, -1, 11, -5]

# You get the idea...

#### A better solution

In [18]:
def even_checker(list):
    for num in list:
        if num % 2 != 0:
            print(list, " is NOT all even numbers")
            break
        elif num % 2 == 0 and list[-1] == num:
            print(list, " is all even numbers")
        else:
            continue

In [15]:
dwight_sales = [100, 120, 135, 110, 111]

even_checker(dwight_sales)

[100, 120, 135, 110, 111]  is NOT all even numbers

In [126]:
jim_sales = [200, 204, 180, 300, 220]

even_checker(jim_sales)

[200, 204, 180, 300, 220]  is all even numbers

In [17]:
kevin_sales = [4, 8, -1, 11, -5]

even_checker(kevin_sales)

[4, 8, -1, 11, -5]  is NOT all even numbers

## 2. Built-in Functions

#### Find all built-in functions [here.](https://docs.python.org/3/library/functions.html)

In [39]:
print("Hello Dunder Mifflin")

Hello Dunder Mifflin

In [40]:
abs(-1)

1

In [40]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

## 3. User-defined Function Basics 

#### Structure of function
```python
def function(optional_variables):  # def is short for define
    (code to execute)
    return (object to return) # optional
```

In [23]:
def simplest_function():
    pass

simplest_function

In [24]:
def simpler_function():
    print("Good Morning, Dunder Mifflin")

simpler_function()

Good Morning, Dunder Mifflin

In [26]:
text_to_print = "Good Morning, Dunder Mifflin"

def simple_function(text_to_print):
    print(text_to_print)

simple_function

In [32]:
def multi_var_function(greeting, company):
    print(greeting, company)

x = "Good Morning"
y = "Dunder Mifflin"

multi_var_function(x, y)

Good Morning Dunder Mifflin

In [33]:
def assign_var_function(greeting, company="Dunder Mifflin"):
    print(greeting, company)

greet = "Good Morning"

assign_var_function(greet)

Good Morning Dunder Mifflin

In [34]:
greet = "Good Evening"
competitor = "Prince Paper"

assign_var_function(greet, competitor)

Good Evening Prince Paper

In [91]:
def return_var_function(greeting, company="Dunder Mifflin"):
    return len(greeting) + len(company)

value = return_var_function("Good Morning")
value

26

## 4. User-defined Function Advanced  

#### The unpack operator for iterables *

In [76]:
def add_sales(sale_list):
    return sum(sale_list)

In [77]:
dwight_sales = [100, 120, 135, 110, 111]

add_sales(dwight_sales)

576

In [78]:
jim_sales = [200, 204, 180, 300, 220]

add_sales(dwight_sales, jim_sales)

TypeError: add_sales() takes 1 positional argument but 2 were given

In [87]:
lists = dwight_sales, jim_sales
print(lists)
print(*lists)

([100, 120, 135, 110, 111], [200, 204, 180, 300, 220])
[100, 120, 135, 110, 111] [200, 204, 180, 300, 220]

In [83]:
def add_sales(*sale_list):
    value = 0
    for sale in sale_list:
        print(sale)
        value += sum(sale)
    return value

The unpack operator * passes the values (lists here) as seperate arguments

In [88]:
add_sales(dwight_sales, jim_sales, kevin_sales)

[100, 120, 135, 110, 111]
[200, 204, 180, 300, 220]
[4, 8, -1, 11, -5]

1697

In [55]:
def arg_function(*args):    # The 'args' name is not required, but standard 
    return

#### The unpack operator for dictionaries **

In [90]:
def kwarg_function(**kwargs): # The 'kwargs' name is not required, but also standard practices
    for key, value in kwargs.items():
        print(key, ' : ', value)

In [93]:
kwarg_function(reg_mang = "Michael", sales_rep = "Jim", receptionist = "Pam")

reg_mang  :  Michael
sales_rep  :  Jim
receptionist  :  Pam

## 5. Application

#### Count the lines of a given actor from the script (csv file) of "The Office"

1. Create a function that:  
    1a. Open & Read the csv  
    1b. Make list of times actor appears  
    1c. Count the list  
2. Feed the name(s) to that function.

In [100]:
import csv

actor = "Michael"

def actor_counter(actor):
    csvfile = open('the_office_data/scripts_the_office.csv')
    csvreader = csv.reader(csvfile)     
    list_actor = [row[5] for row in csvreader if row[5] == actor]
    csvfile.close()
    return len(list_actor)

actor_counter("Jim")

6814

In [ ]:
actor_list = ['Michael', 'Pam', 'Dwight', 'Angela', 'Kelly', 'Jim', 'Andy', 'Kevin', 'Phyllis', 'Meredith', 'Oscar' ]

In [101]:
actor_dict = {}

for actor in actor_list:
    actor_dict[actor] = actor_counter(actor)

actor_dict

{'Michael': 12137,
 'Pam': 5375,
 'Dwight': 7529,
 'Angela': 1695,
 'Kelly': 956,
 'Jim': 6814,
 'Andy': 3968,
 'Kevin': 1708,
 'Phyllis': 1071,
 'Meredith': 645,
 'Oscar': 1490}

In [105]:
{key: value for key, value in sorted(actor_dict.items(), key=lambda item: item[1])}

{'Meredith': 645,
 'Kelly': 956,
 'Phyllis': 1071,
 'Oscar': 1490,
 'Angela': 1695,
 'Kevin': 1708,
 'Andy': 3968,
 'Pam': 5375,
 'Jim': 6814,
 'Dwight': 7529,
 'Michael': 12137}